html, body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}
.banner{
    width: 800px;
    height: 400px;
    margin: 50px auto;
    overflow: hidden;
}
.banner>div{
    width: 100%;
    height: 100%;
    position: relative;
}
.bannerIn{
    width: 4000px;
    height:400px;
    position: relative;
    left: 0;top: 0;
}
.bannerIn>div{
    width: 800px;
    height: 400px;
    float: left;
}
.bannerIn img{
    width: 100%;
    height: 100%;
}
.banner>div span{
    display: block;
    width: 30px;
    height: 50px;
    position: absolute;
    background: url("../images/pre.png");
    top: 40%;
}
.banner>div .left{
    left: 0;
}
.banner>div .right{
    background-position:  -30px 0;
    right: 0;
}
.banner>div .list{
    position: absolute;
    left: 40%;
    bottom: 20px;
}
.banner>div .list li{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #c0c0c0;
    margin: 2px 5px;
    float: left;
}
.banner>div .list  li.active{
    background: red;
}
